@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.gradient-box {
  background: linear-gradient(
      270deg,
      rgba(37, 45, 55, 0) 40%,
      #000000 72.92%,
      #09101a
    ),
    linear-gradient(180deg, rgba(0, 0, 0, 0) 75%, #000000 100%);
}

.gradient-border {
  position: relative;
  border-radius: 0.5em;
  background: #09101a;
  padding: 0.5em;
}

.gradient-border::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  border-radius: inherit;
  background: linear-gradient(
    to bottom right,
    rgba(37, 45, 55, 0),
    rgb(241, 239, 239),
    rgba(37, 45, 55, 0)
  );
}
